{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <!--STUPAC 1-->
    <div class="col-md-2 sidenav"></div>

    <!--STUPAC 2-->
    <div class="col-md-8 text-center">
      <div class="page-header">
        <!--SVE SKUPA-->
        <div class="row">
          <form class="verticalform" action="/novi_dan" method="POST">
            <div class="form-group">
              <!--REDNI BROJ-->
              <h1 value="redni_broj" name="redni_broj">Dan: {{redni_broj}}</h1>
              <!--REDNI BROJ-->

              <br />
              <br />

              <!--1. DORUČAK-->
              <div class="lijevo">
                <label for="exampleDropdown">Odaberi doručak:</label>
              </div>
              <div class="dropdown">
                <select
                  class="form-control"
                  id="exampleDropdown"
                  name="dorucak"
                >
                  <option selected>Otvori za odabir</option>
                  {%for lis in dorucci%}
                  <option value="{{lis}}">{{lis}}</option>
                  {%endfor%}
                </select>
              </div>
              <!--DORUČAK-->

              <br />

              <!--2. ORASI-->
              <div class="lijevo">
                <label for="exampleDropdown">Odaberi broj oraha:</label>
              </div>
              <div class="dropdown">
                <select class="form-control" id="exampleDropdown" name="orasi">
                  <option selected>Otvori za odabir</option>
                  {%for lis in stupac_orasi%}
                  <option value="{{lis}}">{{lis}}</option>
                  {%endfor%}
                </select>
              </div>
              <!--ORASI-->

              <br />

              <!--3. BIOAKTIV-->
              <div class="lijevo">
                <label for="exampleDropdown">Bioaktiv:</label>
              </div>
              <div class="dropdown">
                <select
                  class="form-control"
                  id="exampleDropdown"
                  name="bioaktiv"
                >
                  <option selected>Otvori za odabir</option>
                  {%for lis in dane%}
                  <option value="{{lis}}">{{lis}}</option>
                  {%endfor%}
                </select>
              </div>
              <!--BIOAKTIV-->

              <br />

              <!--4. TRBUŠNJACI-->
              <div class="lijevo">
                <label for="exampleDropdown">Trbušnjaci:</label>
              </div>

              <input type="text" class="form-control dp" name="trbusnjaci" />
              <!--TRBUŠNJACI-->

              <br />

              <!--5. NOKTI ŠAKE-->
              <div class="lijevo">
                <label for="exampleDropdown">Nokti šake:</label>
              </div>
              <div class="dropdown">
                <select
                  class="form-control"
                  id="exampleDropdown"
                  name="nokti_sake"
                >
                  <option selected>Otvori za odabir</option>
                  {%for lis in dane%}
                  <option value="{{lis}}">{{lis}}</option>
                  {%endfor%}
                </select>
              </div>
              <!--NOKTI ŠAKE-->

              <br />

              <!--5. NOKTI ŠAKE-->
              <div class="lijevo">
                <label for="exampleDropdown">Nokti stopala:</label>
              </div>
              <div class="dropdown">
                <select
                  class="form-control"
                  id="exampleDropdown"
                  name="nokti_stopala"
                >
                  <option selected>Otvori za odabir</option>
                  {%for lis in dane%}
                  <option value="{{lis}}">{{lis}}</option>
                  {%endfor%}
                </select>
              </div>
              <!--NOKTI ŠAKE-->

              <br />

              <br />

              <!--6. Dodaj-p-->
              <button type="submit" class="btn btn-primary btn-lg">
                Dodaj
              </button>
              <!--Dodaj-k-->
            </div>
          </form>

          <div>{{okini}}</div>
          <div>{{stopala}}</div>
        </div>
        <!--SVE SKUPA-->
      </div>
    </div>

    <!--STUPAC 3-->
    <div class="col-md-2 sidenav"></div>
  </div>
</div>

{% endblock %}
